<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include nav.html %}
    <main>
      {{ content }}

      <br>
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

    </main>
    {% include footer.html %}
  </body>
</html>
